apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 3

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  selector:
    matchLabels:
      app: frontend

  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: yash4200/insurance-frontend:v5
          ports:
            - containerPort: 80
