name: Backend CI/CD Pipeline

on:
  push:
    branches:
      - main
    paths:
      - backend/**

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.Yash@4200 }}" | docker login -u "${{ secrets.yash4200 }}" --password-stdin

      - name: Set image tag
        run: echo "IMAGE_TAG=v${{ github.run_number }}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t yash4200/insurance-backend:${{ env.IMAGE_TAG }} ./backend

      - name: Push Docker image
        run: |
          docker push yash4200/insurance-backend:${{ env.IMAGE_TAG }}

      - name: Update Kubernetes deployment
        run: |
          kubectl set image deployment/backend backend=yash4200/insurance-backend:${{ env.IMAGE_TAG }}
