name: Build and Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.Yash@4200 }}" | docker login -u "${{ secrets.yash4200 }}" --password-stdin

      - name: Build image
        run: docker build -t yash4200/insurance-backend:latest ./backend

      - name: Push image
        run: docker push yash4200/insurance-backend:latest
