name: CI/CD to Kubernetes

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Set version
        run: echo "VERSION=v${{ github.run_number }}" >> $GITHUB_ENV

      - name: Build backend image
        run: docker build -t yash4200/insurance-backend:${{ env.VERSION }} ./backend

      - name: Build frontend image
        run: docker build -t yash4200/insurance-frontend:${{ env.VERSION }} ./frontend

      - name: Push backend image
        run: docker push yash4200/insurance-backend:${{ env.VERSION }}

      - name: Push frontend image
        run: docker push yash4200/insurance-frontend:${{ env.VERSION }}

      - name: Deploy to Kubernetes via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            export KUBECONFIG=~/.kube/config
            /usr/local/bin/kubectl set image deployment/backend backend=yash4200/insurance-backend:${{ env.VERSION }}
            /usr/local/bin/kubectl set image deployment/frontend frontend=yash4200/insurance-frontend:${{ env.VERSION }}
