name: CI/CD Docker Compose EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Set version
        run: echo "VERSION=v${{ github.run_number }}" >> $GITHUB_ENV

      - name: Build backend
        run: docker build -t yash4200/insurance-backend:${{ env.VERSION }} ./backend

      - name: Build frontend
        run: docker build -t yash4200/insurance-frontend:${{ env.VERSION }} ./frontend

      - name: Push backend
        run: docker push yash4200/insurance-backend:${{ env.VERSION }}

      - name: Push frontend
        run: docker push yash4200/insurance-frontend:${{ env.VERSION }}

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/Project/Insurance-Devops
            export BACKEND_TAG=${{ env.VERSION }}
            export FRONTEND_TAG=${{ env.VERSION }}
            docker compose pull
            docker compose up -d
